.widget-container.fluid-height(ng-controller='MaintenanceCtrl')
  .heading
    stacked-icon(icon='fa-gears', color='color-darkgray')
    span(translate) Maintenance
    .pull-right
  .widget-content.padded
    button(ng-click='reboot()').btn.btn-sm.btn-danger
      i.fa.fa-refresh
      span(translate) Restart Device
    div(style='margin-top: 8px')
      button(ng-click='launchSamsungEngineering()').btn.btn-sm.btn-warning
        i.fa.fa-cogs
        span(translate) Samsung Updater (Engineering)
